{% extends "base.html" %} {%block content%}

<main class="auth layout">
  {% if page == 'login' %}
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">

      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Login 🗝️</h2>

        <form method="POST" action="">
          {% csrf_token %}

          <div class="form__group form__group">
            <label for="room_name">Username</label>
            <input id="username" name="username" type="text" placeholder="" />
          </div>
          <div class="form__group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="" />
          </div>

          <button class="btn btn--main" type="submit">
            🔓 Login
          </button>
        </form>

        <div class="auth__action">
          Don't have an account?
          <a href="{% url 'register' %}" class="btn btn--link">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}

  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Create an Account 🌳</h2>

        <form method="POST" action="">
          {% csrf_token %}

          {% for field in form %}
          <div class="form__group form__group">
            <label for="room_name">{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}

          <button class="btn btn--main" type="submit">
            🪴Register
          </button>
        </form>

        <div class="auth__action">
          Already have an account?
          <a href="{% url 'login' %}" class="btn btn--link">Login</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</main>
{%endblock content%}